{% extends "base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <h1>Article Archive</h1>
    {% for article in articles %}
        <div class="article">
            <h2>{{ article.title }}</h2>
            <p>{{ article.date }}</p>
            <p>{{ article.content }}</p>
            <a href="{% url 'article_detail' article.id %}">Read More</a>
            {% if user.is_authenticated %}
                <a href="{% url 'article_comment' article.id %}">Comment</a>
                <a href="{% url 'article_vote' article.id %}">Vote</a>
            {% endif %}
        </div>
    {% endfor %}
</div>
{% endblock content %}