/* Reset some basic elements */
body, h1, h2, h3, p {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif; /* Replace with your chosen font */
}

/* Header Styles */
header {
    background-color: #a2d9ce; /* Example blue/green color */
    border-bottom: 5px solid #88c1b3; /* Slightly darker shade for contrast */
}



/* Navigation Menu Styles */
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    text-align: center;
    background-color: #a2d9ce;
    border-radius: 10px;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

nav a:hover {
    color: #333;
}

/* Main Content Styles */
main {
    padding: 20px;
    /* Adjust as needed */
}

/* Footer Styles */
footer {
    background-color: #a2d9ce;
    color: white;
    padding: 20px;
    text-align: center;
    border-top: 5px solid #88c1b3;
}

/* Utility Classes */
.rounded-corners {
    border-radius: 10px;
}

.uppercase {
    text-transform: uppercase;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav li {
        display: block;
        margin: 0;
    }
}
